# Application
APP_ENV=local

# MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_INITDB_ROOT_USERNAME=your_username
MONGO_INITDB_ROOT_PASSWORD=your_password

# JWT
JWT_SECRET=your_jwt_secret

# Cloudinary / CDN
CDN_NAME=your_cloud_name
CDN_API_KEY=your_api_key
CDN_API_SECRET=your_api_secret
# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
# Cron Secret
CRON_SECRET=your_cron_secret
# Access Token Expiration
ACCESS_TOKEN_EXPIRE_MINUTES=60
# Face Embedding Encryption Key
FACE_EMBEDDING_ENCRYPTION_KEY=your_face_embedding_encryption_key